<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.dao.EleUserMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.po.EleUser">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="psw" jdbcType="VARCHAR" property="psw" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="uPhone" jdbcType="VARCHAR" property="uphone" />
    <result column="uptime" jdbcType="TIMESTAMP" property="uptime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.neusoft.po.EleUser">
    <result column="userImg" jdbcType="LONGVARCHAR" property="userimg" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uid, psw, userName, sex, uPhone, uptime
  </sql>
  <sql id="Blob_Column_List">
    userImg
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.neusoft.po.EleUserExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from eleUser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.neusoft.po.EleUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from eleUser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from eleUser
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from eleUser
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.neusoft.po.EleUserExample">
    delete from eleUser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neusoft.po.EleUser">
    insert into eleUser (uid, psw, userName, 
      sex, uPhone, uptime, 
      userImg)
    values (#{uid,jdbcType=VARCHAR}, #{psw,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{uphone,jdbcType=VARCHAR}, #{uptime,jdbcType=TIMESTAMP}, 
      #{userimg,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.po.EleUser">
    insert into eleUser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="psw != null">
        psw,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="uphone != null">
        uPhone,
      </if>
      <if test="uptime != null">
        uptime,
      </if>
      <if test="userimg != null">
        userImg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="psw != null">
        #{psw,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="uphone != null">
        #{uphone,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null">
        #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="userimg != null">
        #{userimg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neusoft.po.EleUserExample" resultType="java.lang.Long">
    select count(*) from eleUser
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update eleUser
    <set>
      <if test="row.uid != null">
        uid = #{row.uid,jdbcType=VARCHAR},
      </if>
      <if test="row.psw != null">
        psw = #{row.psw,jdbcType=VARCHAR},
      </if>
      <if test="row.username != null">
        userName = #{row.username,jdbcType=VARCHAR},
      </if>
      <if test="row.sex != null">
        sex = #{row.sex,jdbcType=INTEGER},
      </if>
      <if test="row.uphone != null">
        uPhone = #{row.uphone,jdbcType=VARCHAR},
      </if>
      <if test="row.uptime != null">
        uptime = #{row.uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.userimg != null">
        userImg = #{row.userimg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update eleUser
    set uid = #{row.uid,jdbcType=VARCHAR},
      psw = #{row.psw,jdbcType=VARCHAR},
      userName = #{row.username,jdbcType=VARCHAR},
      sex = #{row.sex,jdbcType=INTEGER},
      uPhone = #{row.uphone,jdbcType=VARCHAR},
      uptime = #{row.uptime,jdbcType=TIMESTAMP},
      userImg = #{row.userimg,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update eleUser
    set uid = #{row.uid,jdbcType=VARCHAR},
      psw = #{row.psw,jdbcType=VARCHAR},
      userName = #{row.username,jdbcType=VARCHAR},
      sex = #{row.sex,jdbcType=INTEGER},
      uPhone = #{row.uphone,jdbcType=VARCHAR},
      uptime = #{row.uptime,jdbcType=TIMESTAMP}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.po.EleUser">
    update eleUser
    <set>
      <if test="psw != null">
        psw = #{psw,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="uphone != null">
        uPhone = #{uphone,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null">
        uptime = #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="userimg != null">
        userImg = #{userimg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.neusoft.po.EleUser">
    update eleUser
    set psw = #{psw,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      uPhone = #{uphone,jdbcType=VARCHAR},
      uptime = #{uptime,jdbcType=TIMESTAMP},
      userImg = #{userimg,jdbcType=LONGVARCHAR}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.po.EleUser">
    update eleUser
    set psw = #{psw,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      uPhone = #{uphone,jdbcType=VARCHAR},
      uptime = #{uptime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
</mapper>